<% content_for :title do %>About<% end %>
<h3>About Anecdata</h3>
<p>
Get answers for all of your quantifiable questions<br/>
<%= link_to('Ask Question', '') %><br/>
<%= link_to('View Answers', '') %>
</p>
